/exercicios em java/JavaMI/target/classes/org/wrappers/Calendartest.class
/exercicios em java/JavaMI/target/classes/org/wrappers/CalendarTestt.class
/exercicios em java/JavaMI/target/classes/local/Chronounittest.class
/exercicios em java/JavaMI/target/classes/local/Durationtest.class
/exercicios em java/JavaMI/target/classes/local/InternMoeda.class
/exercicios em java/JavaMI/target/classes/local/InternN.class
/exercicios em java/JavaMI/target/classes/local/Local01.class
/exercicios em java/JavaMI/target/classes/local/LocalDT.class
/exercicios em java/JavaMI/target/classes/org/wrappers/MetodosTest.class
/exercicios em java/JavaMI/target/classes/local/PeriodTest.class
/exercicios em java/JavaMI/target/classes/local/SimplesD.class
/exercicios em java/JavaMI/target/classes/org/wrappers/StringBd.class
/exercicios em java/JavaMI/target/classes/org/wrappers/StringPreformance.class
/exercicios em java/JavaMI/target/classes/org/wrappers/StringTest.class
/exercicios em java/JavaMI/target/classes/local/Temp.class
