/exercicios em java/JavaMI/target/classes/org/wrappers/Calendartest.class
/exercicios em java/JavaMI/target/classes/org/wrappers/CalendarTestt.class
/exercicios em java/JavaMI/target/classes/local/Chronounittest.class
/exercicios em java/JavaMI/target/classes/local/Durationtest.class
/exercicios em java/JavaMI/target/classes/local/InternMoeda.class
/exercicios em java/JavaMI/target/classes/local/InternN.class
/exercicios em java/JavaMI/target/classes/local/Local01.class
/exercicios em java/JavaMI/target/classes/local/LocalDT.class
/exercicios em java/JavaMI/target/classes/org/wrappers/MetodosTest.class
/exercicios em java/JavaMI/target/classes/local/PeriodTest.class
/exercicios em java/JavaMI/target/classes/local/SimplesD.class
/exercicios em java/JavaMI/target/classes/org/wrappers/StringBd.class
/exercicios em java/JavaMI/target/classes/org/wrappers/StringPreformance.class
/exercicios em java/JavaMI/target/classes/org/wrappers/StringTest.class
/exercicios em java/JavaMI/target/classes/local/Temp.class
/exercicios em java/colecoes/target/classes/org/example/BinaryTest.class
/exercicios em java/colecoes/target/classes/org/example/dominio/Consumidor.class
/exercicios em java/colecoes/target/classes/org/example/EqualTest01.class
/exercicios em java/colecoes/src/main/java/org/example/EqualTest01.java
/exercicios em java/colecoes/target/classes/org/example/hashsetSet.class
/exercicios em java/colecoes/target/classes/org/example/IteratorTest.class
/exercicios em java/colecoes/target/classes/org/example/ListArrayConvertTest.class
/exercicios em java/colecoes/target/classes/org/example/ListTest01.class
/exercicios em java/colecoes/target/classes/org/example/ListTest02.class
/exercicios em java/colecoes/target/classes/org/example/dominio/MapTest01.class
/exercicios em java/colecoes/target/classes/org/example/MapTest02.class
/exercicios em java/colecoes/target/classes/org/example/dominio/NavgabSetTest.class
/exercicios em java/colecoes/target/classes/org/example/dominio/OrdemPreco.class
/exercicios em java/colecoes/target/classes/org/example/OrdemTById.class
/exercicios em java/colecoes/target/classes/org/example/dominio/OrdemTest.class
/exercicios em java/colecoes/target/classes/org/example/OrdemTestEx.class
/exercicios em java/colecoes/target/classes/org/example/Smartphone.class
/exercicios em java/colecoes/target/classes/org/example/SmartphoneList.class
/arquivoex/subs/subs1/arquivo.zip
/exercicios em java/Java utilitario2/target/classes/wnio/DirectorySringTest01.class
/exercicios em java/Java utilitario2/target/classes/wnio/ListAllF.class
/exercicios em java/Java utilitario2/target/classes/wnio/ListAllF2.class
/exercicios em java/Java utilitario2/target/classes/wnio/ListAllFi.class
/exercicios em java/Java utilitario2/target/classes/wnio/PathMatcherTest01.class
/exercicios em java/Java utilitario2/target/classes/wnio/PathMatcherTest02.class
/exercicios em java/Java utilitario2/target/classes/wnio/SimpleFileVisitor01.class
/exercicios em java/Java utilitario2/target/classes/wnio/SimpleFileVisitor02.class
/exercicios em java/Java utilitario2/target/classes/wnio/ZipOutPutS.class
/exercicios em java/Lops/target/classes/org/wrappers/Array9.class
/exercicios em java/Lops/target/classes/org/wrappers/ArrayM.class
/exercicios em java/Lops/target/classes/org/wrappers/cont.class
/exercicios em java/Lops/target/classes/org/wrappers/continu.class
/exercicios em java/Lops/target/classes/org/wrappers/Fort.class
/exercicios em java/Lops/target/classes/org/wrappers/Main.class
/exercicios em java/Lops/target/classes/org/wrappers/perce.class
/exercicios em java/colecoes/target/classes/exemple2/HashmapTest01.class
/exercicios em java/colecoes/target/classes/exemple2/NavgablemapTest01.class
/exercicios em java/colecoes/target/classes/exemple2/QueuTest01.class
/exercicios em java/generics/target/classes/org/example/Main.class
/exercicios em java/generics/src/main/java/org/example/Main.java
/exercicios em java/generics/target/classes/org/example/Animal.class
/exercicios em java/generics/target/classes/Exemple2/dominio/Barco.class
/exercicios em java/generics/target/classes/org/example/Cachorro.class
/exercicios em java/generics/target/classes/Exemple2/dominio/Carro.class
/exercicios em java/generics/target/classes/org/example/GenericTest02.class
/exercicios em java/generics/target/classes/Exemple2/GenerictsTest03.class
/exercicios em java/generics/target/classes/Exemple2/service/RentavelService.class
/exercicios em java/JavaLEx/target/classes/org/example/AnonimasEx$1.class
/exercicios em java/JavaLEx/target/classes/org/example/AnonimasEx.class
/exercicios em java/JavaLEx/target/classes/org/example/CassesL$1LocalClass.class
/exercicios em java/JavaLEx/target/classes/org/example/CassesL.class
/exercicios em java/JavaLEx/target/classes/org/example/InternasEx$Interno.class
/exercicios em java/JavaLEx/target/classes/org/example/InternasEx.class
/exercicios em java/JavaLEx/src/main/java/org/example/InternasEx.java
/exercicios em java/JavaLEx/target/classes/org/example/Car.class
/exercicios em java/JavaLEx/target/classes/org/example/CarPredicate.class
/exercicios em java/JavaLEx/target/classes/org/example/ParamentrizEx$1.class
/exercicios em java/JavaLEx/target/classes/org/example/ParamentrizEx$2.class
/exercicios em java/JavaLEx/target/classes/org/example/ParamentrizEx.class
